@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i");
body {
  background-color: #252846;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #aea9c3;
}
body .btn, body .btn-large, body .card {
  border-radius: 0;
}
body .text-center {
  text-align: center !important;
}
body .ml-auto, body .mar-auto {
  margin-left: auto !important;
}
body .mr-auto, body .mar-auto {
  margin-right: auto !important;
}
body hr {
  border: 2px solid #252846;
  border-top: 1px solid #2C2F4D;
}
body .modal {
  background-color: #2C2F4D;
  color: #aea9c3;
  border-radius: 0;
}
body .modal h4 {
  text-align: center;
  margin-bottom: 2.4rem;
}
body .modal a.btn {
  background-color: #121423;
  color: #e76c90;
  border: 1px solid #e76c90;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 0 77px;
}
body .modal a.btn:hover {
  background-color: #252846;
  color: rgba(231, 108, 144, 0.8);
}
body .modal .modal-footer {
  background-color: #2C2F4D;
}
body .modal .modal-footer a i {
  color: #e76c90;
  font-size: 1.7rem;
}
body .vh70 {
  height: 70vh;
}
body nav.navbar {
  background-color: #2C2F4D;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  margin-bottom: 40px;
}
body nav.navbar .brand-logo {
  background: url(../images/logo_header.svg) no-repeat;
  background-size: 170px;
  width: 100%;
  margin-top: 15px;
  height: inherit;
}
body nav.navbar .st-main {
  position: absolute;
  display: block;
  left: 200px;
  top: 7px;
  color: #e76c90;
}
body nav.navbar .nav-search {
  color: #e76c90;
}
body nav.navbar .nav-wrapper .right .circle {
  border: 2px solid #e76c90;
}
body nav.navbar .nav-wrapper .mob-nav {
  float: right;
  margin-top: 7px;
}
body .sidenav {
  background-color: #2C2F4D;
}
body .sidenav li a {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
}
body .sidenav li a:hover {
  color: #e76c90;
  transition: 300ms ease all;
}
body .sidenav li a:active {
  color: #e76c90;
}
body .sidenav li a .float-r {
  float: right;
}
body .sidenav li a .highlight {
  color: #e76c90;
}
body .sidenav li .user-view {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
body .sidenav li .user-view .circle {
  border: 2px solid #e76c90;
}
body .sidenav .collapsible-body {
  background-color: #252846;
}
body .sidenav .collapsible-body a {
  color: #aea9c3;
  font-size: 0.85rem;
  padding-left: 40px;
}
body .sidenav .collapsible-body a:hover {
  color: #e76c90;
  transition: 300ms ease all;
}
body .sidenav .collapsible-body a:active {
  color: #e76c90;
}
body .sidenav.sidenav-fixed {
  background-color: #252846;
}
body .sidenav .sign-btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
}
body .hero {
  background-color: #121423;
  margin-top: 2px;
}
body .hero .topic input {
  font-family: "Montserrat", sans-serif;
  color: #aea9c3;
}
body .hero .topic .submit-idea {
  border-radius: 0;
}
body main.landing {
  background-color: #ffffff;
}
body main.landing h1, body main.landing h2, body main.landing h3, body main.landing h4, body main.landing h5 {
  font-family: "Noto Sans", sans-serif;
}
body main.landing .mt-30 {
  margin-top: 30px;
}
body main.landing .row:first-of-type {
  margin-bottom: 0;
}
body main.landing .row:first-of-type .left-side {
  background-color: #252846;
  position: relative;
  height: 100vh;
}
body main.landing .row:first-of-type .left-side .auth-col-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  padding: 0 40px;
  transform: translateY(-50%);
}
body main.landing .row:first-of-type .left-side .auth-col-content .logo-centered {
  width: 140px;
  margin: 0 auto;
}
body main.landing .row:first-of-type .left-side .auth-col-content .logo-centered a {
  display: inline-block;
  text-decoration: none;
}
body main.landing .row:first-of-type .left-side .auth-col-content .logo-centered a img {
  width: 140px;
  margin-bottom: 50px;
  vertical-align: middle;
  border-style: none;
}
body main.landing .row:first-of-type .left-side .auth-col-content h1 {
  margin-top: 30px;
  margin-bottom: 0;
  color: #ffffff;
  font-size: 2.2rem;
  font-weight: 600;
}
body main.landing .row:first-of-type .left-side .auth-col-content span.description {
  display: inline-block;
  color: #ffffff;
  margin-top: 15px;
  font-size: 1rem;
  font-weight: 500;
}
body main.landing .row:first-of-type .left-side .auth-col-content .login-nav {
  margin-top: 3rem;
}
body main.landing .row:first-of-type .left-side .auth-col-content .login-nav li {
  display: inline-block;
}
body main.landing .row:first-of-type .left-side .auth-col-content .login-nav li .btn {
  display: inline-block;
  text-transform: none;
  font-size: 0.8rem;
  background-color: transparent;
  box-shadow: none;
}
body main.landing .row:first-of-type .left-side .auth-col-content .login-nav li .btn.active {
  background-color: #ffffff;
  color: #aea9c3;
}
body main.landing .right-side {
  background-color: #ffffff;
  height: 100vh;
}
body main.landing .right-side .auth-col-form {
  width: 50%;
  display: block;
  margin-top: 0;
  transform: translateY(5%);
}
body main.landing .right-side .auth-col-form .tab-content .tab-pane {
  display: none;
}
body main.landing .right-side .auth-col-form .tab-content .tab-pane.ch-h {
  margin-top: 30%;
  transform: translateY(30%);
}
body main.landing .right-side .auth-col-form .tab-content .tab-pane.active {
  display: block;
}
body main.landing .right-side .auth-col-form .tab-content .tab-pane h3 {
  color: #000000;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: left;
}
body main.landing .right-side .auth-col-form .tab-content .tab-pane form input[type=text]:not(.browser-default):focus:not([readonly]), body main.landing .right-side .auth-col-form .tab-content .tab-pane form input[type=password]:not(.browser-default):focus:not([readonly]) {
  border-bottom: #e76c90;
  box-shadow: 0 1px 0 0 #e76c90;
}
body main.landing .right-side .auth-col-form .tab-content .tab-pane .row .col {
  float: left;
}
body main.landing .right-side .auth-col-form .tab-content .tab-pane .row .text-left {
  text-align: left !important;
}
body main.landing .right-side .auth-col-form .tab-content .tab-pane .row .text-left span {
  font-size: 0.8rem;
}
body main.landing .right-side .auth-col-form .tab-content .tab-pane .row .float-right {
  float: right !important;
}
body main.landing .right-side .auth-col-form .tab-content .tab-pane .row .float-right a {
  color: #000000;
}
body main.landing .right-side .auth-col-form .tab-content .tab-pane .row .float-right a:hover {
  color: #e76c90;
  transition: 300ms ease all;
}
body main.landing .right-side .auth-col-form .tab-content .tab-pane .sign-btn {
  margin: 25px 0 0 0;
}
body main.landing .right-side .auth-col-form .tab-content .tab-pane .sign-btn a h4 {
  color: #e76c90;
}
body main.landing .right-side .auth-col-form .tab-content .tab-pane .sign-btn .btn-color {
  background-color: #e76c90;
}
body main .section.topic textarea, body main .section.topic input {
  color: #aea9c3;
}
body main .section.topic input[type=text]:focus:not(.browser-default).validate + label, body main .section.topic input[type=password]:focus:not(.browser-default).validate + label, body main .section.topic textarea:focus:not([readonly]) + label {
  color: #e76c90;
}
body main .section .card {
  color: #aea9c3;
  background-color: #2C2F4D;
  transition: 300ms ease all;
  z-index: 10;
}
body main .section .card:hover {
  color: #252846;
  background-color: #ff9700;
  transition: 300ms ease all;
  cursor: pointer;
}
body main .section .card .card-content.card-content.orange {
  color: #252846;
  background-color: #ff9700;
  transition: 300ms ease all;
  cursor: pointer;
}
body main .section .card .card-content.card-content.orange .multi-vote {
  background-color: #2C2F4D;
}
body main .section .card .card-content .vote-status {
  transition: 300ms ease all;
}
body main .section .card .card-content .user-counter {
  font-size: 2.7rem;
  position: absolute;
  width: 70px;
  height: 70px;
  right: 0;
  background-color: #8e540e;
  top: 0;
  border-radius: 0 0 0 100%;
  line-height: 57px;
  padding-left: 35px;
  color: #d0cbe7;
}
body main .section .card .card-content .card-title {
  font-weight: 400;
}
body main .section .card .card-content blockquote {
  font-size: 27px;
  border-left: 5px solid #252846;
  margin-top: 40px;
}
body main .section .card .card-content blockquote.curly-quotes:before, body main .section .card .card-content blockquote.curly-quotes:after {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  line-height: 48px;
  font-size: 50px;
  opacity: 0.2;
}
body main .section .card .card-content blockquote.curly-quotes:before {
  content: "“";
  margin-right: 4px;
  margin-left: -8px;
}
body main .section .card .card-content blockquote.curly-quotes:after {
  content: "”";
  margin-left: 4px;
  margin-right: -8px;
}
body main .section .card .card-content p {
  font-weight: 300;
}
body main .section .card .card-content h3 {
  text-align: center;
}
body main .section .card .card-content .vote-count {
  display: block;
  text-align: center;
  font-size: 1.7rem;
}
body main .section .card .card-content .multi-vote {
  display: block;
  border-radius: 100% 0 0 0;
  bottom: 12px;
  right: 12px;
  background-color: #252846;
  z-index: 70;
}
body main .section .card .card-content .multi-vote.remove {
  left: 12px;
  border-radius: 0 100% 0 0;
}
body main .section .card .card-content .multi-vote.remove i {
  padding-right: 15px;
  padding-left: 0;
}
body main .section .card .card-content .multi-vote.btn-floating {
  width: 80px;
  height: 80px;
}
body main .section .card .card-content .multi-vote i {
  padding-top: 25px;
  padding-left: 15px;
  font-size: 2.7rem;
  color: #aea9c3;
}
body main .display-winner h3 {
  text-align: center;
}
body main .display-winner h1 {
  text-align: center;
  border: 1px solid #e76c90;
  background-color: #121423;
  padding: 27px 0;
}
body footer {
  padding: 15px 0;
  color: #aea9c3;
  background-color: #2C2F4D;
  border-top: 0.07rem solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.08);
}

@media only screen and (max-width: 992px) {
  body nav.navbar .brand-logo {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 340px) {
  body main.landing .right-side {
    background-color: #ffffff;
    height: 135vh;
  }
}

/*# sourceMappingURL=style.css.map */
