@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i');

$font-stack: 'Montserrat', sans-serif;

$font-highlight: #e76c90;
$font-color: #aea9c3;
$font-white: #ffffff;
$font-black: #000000;
$font-active: $font-highlight;
$font-vote: #d0cbe7;

$xdark-body: #121423;
$dark-body: #252846;
$light-body: #2C2F4D;
$bg-white: #ffffff;
$color-orange: #ff9700;



body {
  background-color: $dark-body;
  font-family: $font-stack;
  font-size: 1rem;
  color: $font-color;

  .btn, .btn-large, .card {
    border-radius: 0;
  }

  .text-center {
    text-align: center !important;
  }

  .ml-auto, .mar-auto {
    margin-left: auto!important;
  }

  .mr-auto, .mar-auto {
      margin-right: auto!important;
  }

  hr {
    border: 2px solid $dark-body;
    border-top: 1px solid $light-body;
  }

  .modal {
    background-color: $light-body;
    color: $font-color;
    border-radius: 0;

    h4 {
      text-align: center;
      margin-bottom: 2.4rem;
    }

    a {

      &.btn {
        background-color: $xdark-body;
        color: $font-highlight;
        border: 1px solid $font-highlight;
        font-size: 1.7rem;
        font-weight: 500;
        padding: 0 77px;

        &:hover {
          background-color: $dark-body;
          color: rgba($font-highlight, .8);
        }
      }
    }
    .modal-footer {
      background-color: $light-body;
      
      a {

        i {
          color: $font-highlight;
          font-size: 1.7rem;

        }
      }
    }
  } // modal

  .vh70 {
    height: 70vh;
  }

  nav {

    &.navbar {
      background-color: $light-body;
      box-shadow: 0 1px 0 rgba(255,255,255,.1);

      .brand-logo {
        background: url(../images/logo_header.svg) no-repeat;
        background-size: 170px;
        width: 100%;
        margin-top: 15px;
        height: inherit;
      }

      .st-main {
        position: absolute;
        display: block;
        left: 200px;
        top: 7px;
        color: $font-highlight;
      }

      .nav-search {
        color: $font-highlight;
      }

      .nav-wrapper {

          .right {

            .circle {
              border: 2px solid $font-highlight;
            }
          }
        .mob-nav {
          float: right;
          margin-top: 7px;
        }
      }

    }
  }

  .sidenav {
    background-color: $light-body;
    li {
      a {
        color: $font-white;
        font-size: 1rem;
        font-weight: 500;

        &:hover {
          color: $font-highlight;
          transition: 300ms ease all;
        }

        &:active {
          color: $font-highlight;
        }

        .float-r {
          float: right;
        }

        .highlight {
          color: $font-highlight;
        }
      }

      .user-view {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        .circle {
          border: 2px solid $font-highlight;
        }
      }
    }

    .collapsible-body {
      background-color: $dark-body;

      a {
        color: $font-color;
        font-size: .85rem;
        padding-left: 40px;

        &:hover {
        color: $font-highlight;
        transition: 300ms ease all;
      }

        &:active {
          color: $font-highlight;
        }
      }
    }

    &.sidenav-fixed {
      background-color: $dark-body;
    }

    .sign-btn {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 10%;
    }
  } // sidenav

  .hero {
    background-color: $xdark-body;
    margin-top: 2px;

    .topic {

      input {
        font-family: $font-stack;
        color: $font-color;
      }

      .submit-idea {
        border-radius: 0;
      }
    } // topic
  }

  main {

    &.landing {
      background-color: $bg-white;

      h1, h2, h3, h4, h5 {
        font-family: 'Noto Sans', sans-serif;
      }

      .mt-30 {
        margin-top: 30px;
      }

      .row:first-of-type {
        margin-bottom: 0;
      
      .left-side {
        background-color: $dark-body;
        position: relative;
        height: 100vh;

        .auth-col-content {
          position: absolute;
          left: 0;
          right: 0;
          top: 50%;
          padding: 0 40px;
          transform: translateY(-50%);

          .logo-centered {
            width: 140px;
            margin: 0 auto;

            a {
              display: inline-block;
              text-decoration: none;
              
              img {
                width: 140px;
                margin-bottom: 50px;
                vertical-align: middle;
                border-style: none;
              } // img
            } // a
          } // logo-centered

          h1 {
            margin-top: 30px;
            margin-bottom: 0;
            color: $font-white;
            font-size: 2.2rem;
            font-weight: 600;
          }

          span {

            &.description {
              display: inline-block;
              color: $font-white;
              margin-top: 15px;
              font-size: 1rem;
              font-weight: 500;
            }
          }

          .login-nav {
            margin-top: 3rem;

            li {
              display: inline-block;

              .btn {
                display: inline-block;
                text-transform: none;
                font-size: .8rem;
                background-color: transparent;
                box-shadow: none;

                &.active {
                  background-color: $bg-white;
                  color: $font-color;
                } 
              } // btn
            } // li
          } // login-nav
        } // auth-col-content
      } // left-side
    } // row
      .right-side {
        background-color: $bg-white;
        height: 100vh;

        .auth-col-form {
          width: 50%;
          display: block;
          margin-top: 0;
          transform: translateY(5%);

          .tab-content {

            .tab-pane {
              display: none;

              &.ch-h {
                margin-top:30%;
                transform: translateY(30%);
              }

              &.active {
                display: block;
              }

              h3 {
                color: $font-black;
                font-size: 1.8rem;
                font-weight: 500;
                margin-bottom: 30px;
                text-align: left;
              }

              form {
                
                input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]) {
                  border-bottom: $font-highlight;
                  box-shadow: 0 1px 0 0 $font-highlight;
                }      
              } // form

              .row {

                .col {
                  float: left;
                }

                .text-left {
                  text-align: left !important;

                  span {
                    font-size: .8rem;
                  } // span
                } // text-left

                .float-right {
                  float: right !important;

                  a {
                    color: $font-black;

                    &:hover {
                      color: $font-highlight;
                      transition: 300ms ease all;
                    }
                  } // a
                } // float-right
              } // row
              .sign-btn {
                margin: 25px 0 0 0;

                a {
                  
                  h4 {
                    color: $font-highlight;
                  }
                }

                .btn-color {
                  background-color: $font-highlight;
                }
              } // sign-btn
            } // tab-pane
          } // tab-content
        } // auth-col-form
      } // right-side
    } // landing
      

    .section {

      &.topic {

        textarea, input {
          color: $font-color;
        }

        input[type=text]:focus:not(.browser-default).validate+label, input[type=password]:focus:not(.browser-default).validate+label, textarea:focus:not([readonly])+label {
          color: $font-highlight;
        }
      }
      .card {
        color: $font-color;
        background-color: $light-body;
        transition: 300ms ease all;
        z-index: 10;

        // &.card.orange {
        //   color: $dark-body;
        //   background-color: $color-orange;
        //   transition: 300ms ease all;
        //   cursor: pointer;

        //   .multi-vote {
        //     background-color: $light-body;
        //   }
        // }

        &:hover {
          color: $dark-body;
          background-color: $color-orange;
          transition: 300ms ease all;
          cursor: pointer;
        }

        .card-content {

          &.card-content.orange {
          color: $dark-body;
          background-color: $color-orange;
          transition: 300ms ease all;
          cursor: pointer;

            .multi-vote {
              background-color: $light-body;
            }
          }

          .vote-status {
            transition: 300ms ease all;
          }

          .user-counter {
            font-size: 2.7rem;
            position: absolute;
            width: 70px;
            height: 70px;
            right: 0;
            background-color: #8e540e;
            top: 0;
            border-radius: 0 0 0 100%;
            line-height: 57px;
            padding-left: 35px;
            color: $font-vote;
          }

          .card-title {
            font-weight: 400; 
          }

          blockquote {
            font-size: 27px;
            border-left: 5px solid $dark-body;
            margin-top: 40px;

            &.curly-quotes:before, &.curly-quotes:after {
              display: inline-block;
              vertical-align: top;
              height: 30px;
              line-height: 48px;
              font-size: 50px;
              opacity: .2;
            }

            &.curly-quotes:before {
              content: '\201C';
              margin-right: 4px;
              margin-left: -8px;
            }

            &.curly-quotes:after {
              content: '\201D';
              margin-left: 4px;
              margin-right: -8px;
            }
          }

          p {
              font-weight: 300;
          }

          h3 {
            text-align: center;
          }

          .vote-count {
            display: block;
            text-align: center;
            font-size: 1.7rem;
          }

          .multi-vote {
            display: block;
            border-radius:  100% 0 0 0;
            bottom: 12px;
            right: 12px;
            background-color: $dark-body;
            z-index: 70;

            &.remove {
              left: 12px;
              border-radius: 0 100% 0 0;

              i {
                padding-right: 15px;
                padding-left: 0;
              }
            }

            &.btn-floating {
              width: 80px;
              height: 80px;
            }

            i {
              padding-top: 25px;
              padding-left: 15px;
              font-size: 2.7rem;
              color: $font-color;
            }
          }
        } // card-content
      } // card
    }
    .display-winner {
      
      h3 {
        text-align: center;
      }

      h1 {
        text-align: center;
        border: 1px solid $font-highlight;
        background-color: $xdark-body;
        padding: 27px 0;
      }
    }
  } // main

  footer {
    padding: 15px 0;
    color: $font-color;
    background-color: $light-body;
    border-top: 0.07rem solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.08);
  }
}

@media only screen and (max-width: 992px) {

  body {

    nav {

      &.navbar {

        .brand-logo {
           margin-top: 10px;
        }
      }
    }
  }
  
}

@media only screen and (max-width: 340px) {

  body {

    main {

      &.landing {

        .right-side {
          background-color: #ffffff;
          height: 135vh;
        }
      }
    }
  }
} 

@media only screen and (max-width: 320px) {
  
  body {

    main {

      &.landing {

        .right-side {
          background-color: #ffffff;
          height: 150vh;

          .auth-col-form {

            .tab-content {

              .tab-pane {

                .sign-btn {
                  
                  a {
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
} 